
      @import url(https://themes.googleusercontent.com/fonts/css?kit=rfSAlb2JfKqknMZbyNv1qWJJlvjCXuSqB6b6wOjf4-8);
      ol.lst-kix_30ic8ur1x7xw-3.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-3 0;
      }
      ul.lst-kix_ugytd2uetiy3-2 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-1 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-0 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-6 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-5 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-4 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-3 {
        list-style-type: none;
      }
      .lst-kix_orahujbxz1mm-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_orahujbxz1mm-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_30ic8ur1x7xw-0 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-0;
      }
      .lst-kix_orahujbxz1mm-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_orahujbxz1mm-0 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_faobcgnn2zb7-0 {
        list-style-type: none;
      }
      ul.lst-kix_faobcgnn2zb7-1 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-1.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-1 0;
      }
      .lst-kix_30ic8ur1x7xw-2 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-2;
      }
      .lst-kix_30ic8ur1x7xw-8 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-8;
      }
      .lst-kix_mm9osrrygxlg-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_mm9osrrygxlg-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_mm9osrrygxlg-5 > li:before {
        content: "\0025a0   ";
      }
      ol.lst-kix_30ic8ur1x7xw-5.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-5 0;
      }
      .lst-kix_mm9osrrygxlg-4 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_faobcgnn2zb7-6 {
        list-style-type: none;
      }
      .lst-kix_mm9osrrygxlg-1 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_faobcgnn2zb7-7 {
        list-style-type: none;
      }
      ul.lst-kix_kxwcxflbh5b8-0 {
        list-style-type: none;
      }
      ul.lst-kix_faobcgnn2zb7-8 {
        list-style-type: none;
      }
      .lst-kix_orahujbxz1mm-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_h0gdujwnzgt9-7 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_faobcgnn2zb7-2 {
        list-style-type: none;
      }
      .lst-kix_mm9osrrygxlg-3 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_faobcgnn2zb7-3 {
        list-style-type: none;
      }
      ul.lst-kix_faobcgnn2zb7-4 {
        list-style-type: none;
      }
      .lst-kix_mm9osrrygxlg-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_orahujbxz1mm-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_h0gdujwnzgt9-8 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_faobcgnn2zb7-5 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-1 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-1, decimal) ". ";
      }
      ul.lst-kix_kxwcxflbh5b8-7 {
        list-style-type: none;
      }
      .lst-kix_lpq5q6x1s1au-4 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_kxwcxflbh5b8-8 {
        list-style-type: none;
      }
      ul.lst-kix_kxwcxflbh5b8-5 {
        list-style-type: none;
      }
      .lst-kix_lpq5q6x1s1au-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_lpq5q6x1s1au-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_orahujbxz1mm-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_orahujbxz1mm-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_h0gdujwnzgt9-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_h0gdujwnzgt9-5 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_kxwcxflbh5b8-6 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-7 {
        list-style-type: none;
      }
      ul.lst-kix_kxwcxflbh5b8-3 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-8 {
        list-style-type: none;
      }
      ul.lst-kix_kxwcxflbh5b8-4 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-5 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-2 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-2, decimal) ". ";
      }
      ul.lst-kix_kxwcxflbh5b8-1 {
        list-style-type: none;
      }
      .lst-kix_mm9osrrygxlg-0 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_orahujbxz1mm-6 {
        list-style-type: none;
      }
      .lst-kix_orahujbxz1mm-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_h0gdujwnzgt9-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_h0gdujwnzgt9-6 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_kxwcxflbh5b8-2 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-5 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-5, lower-roman) ". ";
      }
      .lst-kix_lpq5q6x1s1au-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_lpq5q6x1s1au-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_lpq5q6x1s1au-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_30ic8ur1x7xw-3 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-3, decimal) ". ";
      }
      .lst-kix_lpq5q6x1s1au-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_30ic8ur1x7xw-4 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-4, lower-latin) ". ";
      }
      ol.lst-kix_30ic8ur1x7xw-0.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-0 0;
      }
      .lst-kix_h0gdujwnzgt9-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_ugytd2uetiy3-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_ugytd2uetiy3-4 > li:before {
        content: "\0025cb   ";
      }
      ol.lst-kix_30ic8ur1x7xw-6.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-6 0;
      }
      .lst-kix_ugytd2uetiy3-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_30ic8ur1x7xw-6 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-6, decimal) ". ";
      }
      ul.lst-kix_mm9osrrygxlg-0 {
        list-style-type: none;
      }
      .lst-kix_ugytd2uetiy3-1 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_orahujbxz1mm-3 {
        list-style-type: none;
      }
      ul.lst-kix_mm9osrrygxlg-1 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-4 {
        list-style-type: none;
      }
      ul.lst-kix_mm9osrrygxlg-2 {
        list-style-type: none;
      }
      .lst-kix_ugytd2uetiy3-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_ugytd2uetiy3-2 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_orahujbxz1mm-1 {
        list-style-type: none;
      }
      .lst-kix_lpq5q6x1s1au-7 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_mm9osrrygxlg-3 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-2 {
        list-style-type: none;
      }
      .lst-kix_h0gdujwnzgt9-1 > li:before {
        content: "\0025cb   ";
      }
      ul.lst-kix_mm9osrrygxlg-4 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-7 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-7, lower-latin) ". ";
      }
      .lst-kix_lpq5q6x1s1au-6 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_mm9osrrygxlg-5 {
        list-style-type: none;
      }
      ul.lst-kix_orahujbxz1mm-0 {
        list-style-type: none;
      }
      ul.lst-kix_mm9osrrygxlg-6 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-8 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-8, lower-roman) ". ";
      }
      ul.lst-kix_mm9osrrygxlg-7 {
        list-style-type: none;
      }
      .lst-kix_h0gdujwnzgt9-0 > li:before {
        content: "\0025cf   ";
      }
      ul.lst-kix_mm9osrrygxlg-8 {
        list-style-type: none;
      }
      .lst-kix_faobcgnn2zb7-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_faobcgnn2zb7-3 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_faobcgnn2zb7-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_faobcgnn2zb7-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_faobcgnn2zb7-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_faobcgnn2zb7-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_faobcgnn2zb7-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_30ic8ur1x7xw-5 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-5;
      }
      .lst-kix_ugytd2uetiy3-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_30ic8ur1x7xw-4 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-4;
      }
      .lst-kix_ugytd2uetiy3-7 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_faobcgnn2zb7-8 > li:before {
        content: "\0025a0   ";
      }
      ol.lst-kix_30ic8ur1x7xw-7.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-7 0;
      }
      .lst-kix_ugytd2uetiy3-8 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_30ic8ur1x7xw-0 > li:before {
        content: "" counter(lst-ctn-kix_30ic8ur1x7xw-0, decimal) ". ";
      }
      ul.lst-kix_h0gdujwnzgt9-8 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-7 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-6 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-6;
      }
      ul.lst-kix_h0gdujwnzgt9-6 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-3 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-3;
      }
      ol.lst-kix_30ic8ur1x7xw-4.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-4 0;
      }
      ul.lst-kix_h0gdujwnzgt9-1 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-0 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-5 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-4 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-3 {
        list-style-type: none;
      }
      ul.lst-kix_h0gdujwnzgt9-2 {
        list-style-type: none;
      }
      .lst-kix_mm9osrrygxlg-8 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_lpq5q6x1s1au-6 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-5 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-8 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-7 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-2 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-8.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-8 0;
      }
      ul.lst-kix_lpq5q6x1s1au-1 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-4 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-3 {
        list-style-type: none;
      }
      ul.lst-kix_lpq5q6x1s1au-0 {
        list-style-type: none;
      }
      .lst-kix_30ic8ur1x7xw-7 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-7;
      }
      ol.lst-kix_30ic8ur1x7xw-2.start {
        counter-reset: lst-ctn-kix_30ic8ur1x7xw-2 0;
      }
      .lst-kix_30ic8ur1x7xw-1 > li {
        counter-increment: lst-ctn-kix_30ic8ur1x7xw-1;
      }
      .lst-kix_kxwcxflbh5b8-5 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_kxwcxflbh5b8-6 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_kxwcxflbh5b8-4 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_kxwcxflbh5b8-8 > li:before {
        content: "\0025a0   ";
      }
      ul.lst-kix_ugytd2uetiy3-8 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-0 {
        list-style-type: none;
      }
      ul.lst-kix_ugytd2uetiy3-7 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-1 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-2 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-3 {
        list-style-type: none;
      }
      .lst-kix_kxwcxflbh5b8-7 > li:before {
        content: "\0025cb   ";
      }
      li.li-bullet-0:before {
        margin-left: -18pt;
        white-space: nowrap;
        display: inline-block;
        min-width: 18pt;
      }
      ol.lst-kix_30ic8ur1x7xw-4 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-5 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-6 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-7 {
        list-style-type: none;
      }
      ol.lst-kix_30ic8ur1x7xw-8 {
        list-style-type: none;
      }
      .lst-kix_kxwcxflbh5b8-0 > li:before {
        content: "\0025cf   ";
      }
      .lst-kix_kxwcxflbh5b8-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_kxwcxflbh5b8-2 > li:before {
        content: "\0025a0   ";
      }
      .lst-kix_faobcgnn2zb7-1 > li:before {
        content: "\0025cb   ";
      }
      .lst-kix_kxwcxflbh5b8-3 > li:before {
        content: "\0025cf   ";
      }
      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c0 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 156pt;
        border-top-color: #000000;
        border-bottom-style: solid;
      }
      .c1 {
        border-right-style: solid;
        padding: 5pt 5pt 5pt 5pt;
        border-bottom-color: #000000;
        border-top-width: 1pt;
        border-right-width: 1pt;
        border-left-color: #000000;
        vertical-align: top;
        border-right-color: #000000;
        border-left-width: 1pt;
        border-top-style: solid;
        border-left-style: solid;
        border-bottom-width: 1pt;
        width: 93.6pt;
        border-top-color: #000000;
        border-bottom-style: solid;
      }
      .c6 {
        background-color: #ffffff;
        margin-left: 187pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c12 {
        background-color: #ffffff;
        margin-left: 151pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c14 {
        background-color: #ffffff;
        margin-left: 115pt;
        padding-top: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c30 {
        margin-left: 223pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c28 {
        background-color: #ffffff;
        margin-left: 115pt;
        padding-top: 0pt;
        padding-bottom: 6pt;
        line-height: 1.3;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c25 {
        background-color: #ffffff;
        margin-left: 115pt;
        padding-top: 0pt;
        padding-bottom: 24pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c16 {
        margin-left: 151pt;
        padding-top: 0pt;
        padding-left: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c17 {
        background-color: #ffffff;
        margin-left: 115pt;
        padding-top: 0pt;
        padding-bottom: 4pt;
        line-height: 1.4;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c10 {
        background-color: #f9f9fb;
        color: #333847;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10pt;
        font-family: "Inter";
        font-style: normal;
      }
      .c52 {
        border-right-style: solid;
        border-right-width: 0pt;
        padding-left: 0pt;
        border-left-width: 0pt;
        border-left-style: solid;
        padding-right: 0pt;
      }
      .c2 {
        background-color: #e0f2ff;
        color: #333847;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10pt;
        font-family: "Inter";
        font-style: normal;
      }
      .c5 {
        color: #161c2d;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 13pt;
        font-family: "Times New Roman";
        font-style: normal;
      }
      .c19 {
        color: #333847;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Roboto";
        font-style: normal;
      }
      .c22 {
        color: #161c2d;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 15pt;
        font-family: "Times New Roman";
        font-style: normal;
      }
      .c23 {
        color: #333847;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 12pt;
        font-family: "Roboto";
        font-style: italic;
      }
      .c50 {
        padding-top: 0pt;
        padding-bottom: 12pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        margin-right: -15pt;
      }
      .c7 {
        color: #161c2d;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 25pt;
        font-family: "Times New Roman";
        font-style: normal;
      }
      .c4 {
        -webkit-text-decoration-skip: none;
        color: #161c2d;
        font-weight: 400;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 13pt;
        font-family: "Times New Roman";
      }
      .c37 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.4;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c20 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c24 {
        background-color: #ffffff;
        font-size: 10pt;
        font-family: "Inter";
        color: #333847;
        font-weight: 400;
      }
      .c3 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        text-align: left;
        height: 11pt;
      }
      .c11 {
        background-color: #ffffff;
        padding-top: 0pt;
        padding-bottom: 6pt;
        line-height: 1;
        text-align: left;
      }
      .c9 {
        font-size: 13pt;
        font-family: "Times New Roman";
        color: #ff0000;
        font-weight: 400;
      }
      .c49 {
        padding-top: 0pt;
        padding-bottom: 2pt;
        line-height: 1.55;
        text-align: left;
      }
      .c42 {
        color: #333847;
        font-weight: 700;
        font-size: 10pt;
        font-family: "Inter";
      }
      .c40 {
        font-size: 12pt;
        font-family: "Roboto";
        color: #333847;
        font-weight: 400;
      }
      .c56 {
        color: #ff0000;
        font-weight: 400;
        font-size: 15pt;
        font-family: "Times New Roman";
      }
      .c13 {
        font-size: 13pt;
        font-family: "Times New Roman";
        color: #161c2d;
        font-weight: 400;
      }
      .c46 {
        font-size: 13pt;
        font-family: "Times New Roman";
        color: #009ecc;
        font-weight: 700;
      }
      .c31 {
        font-size: 10pt;
        font-family: "Inter";
        color: #333847;
        font-weight: 400;
      }
      .c15 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        text-align: left;
      }
      .c27 {
        font-size: 13pt;
        font-family: "Times New Roman";
        color: #009ecc;
        font-weight: 400;
      }
      .c54 {
        color: #000000;
        font-weight: 700;
        font-size: 11pt;
        font-family: "Arial";
      }
      .c35 {
        padding-top: 0pt;
        padding-bottom: 12pt;
        line-height: 1;
        text-align: left;
      }
      .c55 {
        padding-top: 0pt;
        padding-bottom: 24pt;
        line-height: 1;
        text-align: center;
      }
      .c53 {
        color: #161c2d;
        font-weight: 700;
        font-size: 9pt;
        font-family: "Times New Roman";
      }
      .c47 {
        font-size: 12pt;
        font-family: "Roboto";
        color: #085996;
        font-weight: 400;
      }
      .c45 {
        color: #009ecc;
        font-weight: 400;
        font-size: 9pt;
        font-family: "Times New Roman";
      }
      .c51 {
        color: #161c2d;
        font-weight: 400;
        font-size: 9pt;
        font-family: "Times New Roman";
      }
      .c43 {
        color: #506690;
        font-weight: 700;
        font-size: 13pt;
        font-family: "Times New Roman";
      }
      .c38 {
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto;
      }
      .c41 {
        color: #506690;
        font-weight: 400;
        font-size: 13pt;
        font-family: "Times New Roman";
      }
      .c39 {
        color: #161c2d;
        font-weight: 700;
        font-size: 13pt;
        font-family: "Times New Roman";
      }
      .c33 {
        text-decoration: none;
        vertical-align: baseline;
        font-style: normal;
      }
      .c26 {
        color: inherit;
        text-decoration: inherit;
      }
      .c57 {
        max-width: 468pt;
        padding: 72pt 72pt 72pt 72pt;
      }
      .c18 {
        padding: 0;
        margin: 0;
      }
      .c21 {
        background-color: #ffffff;
        margin-right: -79pt;
      }
      .c48 {
        vertical-align: baseline;
        font-style: normal;
      }
      .c36 {
        margin-left: 36pt;
        padding-left: 0pt;
      }
      .c34 {
        height: 11pt;
      }
      .c32 {
        height: 0pt;
      }
      .c8 {
        height: 47.4pt;
      }
      .c44 {
        height: 35.1pt;
      }
      .c29 {
        background-color: #ffffff;
      }
      .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 15pt;
        padding-bottom: 16pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: "Arial";
      }
      h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 20pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 16pt;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 14pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 12pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 11pt;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }